{% extends "FeedApp/base.html" %}
{% load bootstrap4 %}

<!--
    Include enctype property in the form tag for the uploaded 
    file to be attached to the request properly.
    
    enctype property helps images to be attached 
    to the request and we can access it from other files

    We are using a bootstrap form

    Bootstrap is helpful to make it turn blue when you hover over it
-->

{% block content %}
<h2>
    <p>New Post:</p>
</h2>

<form action="{% url 'FeedApp:new_post' %}" method="post" enctype="multipart/form-data">

    {% csrf_token %}
    {% bootstrap_form form %}

    <br><br>
    <button name="submit" class="btn btn-outline-primary">Post</button>



</form>

{% endblock content %}